@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato:wght@300&display=swap');

:root {
    --primary-color: #047aed;
}

*{
    box-sizing:"border-box";
    padding: 0;
    margin: 0;
}

body {
font-family: 'Lato', sans-serif;
line-height: 1.6;
color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px, 0;
}

p{
    margin:10px, 0;
}

img {
    width: 10%;
}


/* Navigation Bar */
.navbar {
    background-color: var(--primary-color);
    height: 70px;
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    color: #fff;
}

.navbar-a:hover {
    border-bottom: 2px solid white;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */
.showcase {
    background-color: var(--primary-color);
    color: white;
    height: 400px;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index:100;
    justify-self: flex-end;
}

.showcase-form .form-control {
    margin: 30px 0;
}
.showcase-form input[type='text'], 
.showcase-form input[type='email'], { 
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    content: '';
    position: absolute;
    background: white;
    transform: skewY(-2.5deg);
    -webkit-transform: skewY(-2.5deg);
    -moz-transform: skewY(-2.5deg);
    -ms-transform: skewY(-2.5deg);
}

/* Stats */

.stats {
    padding-top: 100px;
}